$font_stack : 'Roboto', sans-serif;
$black: #000000;
$white: #FFFFFF;
$primary_color: #3295cd;
$secondary_color: #192f59;
$field_bg: #f9f8fd;
$title_bg: #eceff2;
$line: #e0e0e0;
$red: #ff0001;
$login_bg: #F5F5F5;
$nav_hover: #273b5f;
$sub_nav_active: #ade5cd;
$body_color: #414141;
$wizard_hover: #daeff9;
$sidebar_bg: #F9F9F9;
$success: #008744;
$error: #F9423A;
$line: #C8C7CA;
$label_color: #414141