<div class="cookie-container">
    <div class="mat-dialog-container error-modal">
        <div class="mat-dialog-content">
           <div class="row">
              <div class="col-sm-12">
                <img [src]="institutionLogo" [alt]="institutionName" [title]="institutionName" class="inst-logo" />
                 <h2 class="text-primary mt-4">Cookie Policy</h2>
              </div>
              <div class="pb-3">
                 <p>Your browser is currently set to block cookies.</p>
                 <p>We use cookies as part of our application to provide the most optimal experience. You must enable cookies in order to use our application. Refer to your browser’s help section to enable cookies.</p>
              </div>
           </div>
         </div>
     </div>
</div>
    