  
<div class="row">
    <div class="col-8">
        <form [formGroup]="additionalDetailsForm">
            <div class="form_cnt mt-0">
              <h3>Additional details</h3>
              <p>Please answer the questions below.</p>
          
              <span class="bold_text mt-2 d-inline-block w-100 required">Are you a Soudi National?</span>
              <div class="form_row">
                <div class="row mt-2 mb-3">
                  <div class="col-6">
                    <label tabindex="0" origEnter for="isArabCountry" class="radio_custom checked" > Yes 
                      <input tabindex="-1" type="radio" id="haveAccount" [value]="true">
                      <span class="material-icons"> done </span>
                    </label>
                  </div>
                  <div class="col-6">
                    <label tabindex="0" origEnter for="isArabCountry" class="radio_custom" > No 
                      <input tabindex="-1" type="radio" id="noAccount" [value]="false">
                      <span class="material-icons"> done </span>
                    </label>
                  </div>
                </div>
              </div>
              <span class="bold_text mt-2 d-inline-block w-100 required">Are you a Soudi National?</span>
              <div class="form_row">
                <div class="row mt-2 mb-3">
                  <div class="col-6">
                    <label tabindex="0" origEnter for="isArabCountry" class="radio_custom checked" > Yes 
                      <input tabindex="-1" type="radio" id="haveAccount" [value]="true">
                      <span class="material-icons"> done </span>
                    </label>
                  </div>
                  <div class="col-6">
                    <label tabindex="0" origEnter for="isArabCountry" class="radio_custom" > No 
                      <input tabindex="-1" type="radio" id="noAccount" [value]="false">
                      <span class="material-icons"> done </span>
                    </label>
                  </div>
                </div>
              </div>
              <span class="bold_text mt-2 d-inline-block w-100 required">Are you a Soudi National?</span>
              <div class="form_row">
                <div class="row mt-2 mb-3">
                  <div class="col-6">
                    <label tabindex="0" origEnter for="isArabCountry" class="radio_custom checked" > Yes 
                      <input tabindex="-1" type="radio" id="haveAccount" [value]="true">
                      <span class="material-icons"> done </span>
                    </label>
                  </div>
                  <div class="col-6">
                    <label tabindex="0" origEnter for="isArabCountry" class="radio_custom" > No 
                      <input tabindex="-1" type="radio" id="noAccount" [value]="false">
                      <span class="material-icons"> done </span>
                    </label>
                  </div>
                </div>
              </div>
              <span class="bold_text mt-2 d-inline-block w-100 required">Are you a Soudi National?</span>
              <div class="form_row">
                <div class="row mt-2 mb-3">
                  <div class="col-6">
                    <label tabindex="0" origEnter for="isArabCountry" class="radio_custom checked" > Yes 
                      <input tabindex="-1" type="radio" id="haveAccount" [value]="true">
                      <span class="material-icons"> done </span>
                    </label>
                  </div>
                  <div class="col-6">
                    <label tabindex="0" origEnter for="isArabCountry" class="radio_custom" > No 
                      <input tabindex="-1" type="radio" id="noAccount" [value]="false">
                      <span class="material-icons"> done </span>
                    </label>
                  </div>
                </div>
              </div>
              <span class="bold_text mt-2 d-inline-block w-100 required">Are you a Soudi National?</span>
              <div class="form_row">
                <div class="row mt-2 mb-3">
                  <div class="col-6">
                    <label tabindex="0" origEnter for="isArabCountry" class="radio_custom checked" > Yes 
                      <input tabindex="-1" type="radio" id="haveAccount" [value]="true">
                      <span class="material-icons"> done </span>
                    </label>
                  </div>
                  <div class="col-6">
                    <label tabindex="0" origEnter for="isArabCountry" class="radio_custom" > No 
                      <input tabindex="-1" type="radio" id="noAccount" [value]="false">
                      <span class="material-icons"> done </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="btn_row">
              <button type="button" mat-stroked-button color="primary" class="secondary_button mt-2 d-flex ms-auto me-3" aria-label="Back" routerLink="/home/applications/program-prefrences"><mat-icon class="md-22">chevron_left</mat-icon> Back</button>
              <button type="button" mat-flat-button color="primary" class="primary_button mt-2 d-flex" routerLink="/home/applications/review">Next<mat-icon class="md-22" iconPositionEnd>chevron_right</mat-icon></button>
            </div> <!-- (click)="saveUserDetails()"-->
        </form>
    </div>
    <div class="col-4">
        <app-stepper [stepIndex]="7" class="d-none d-sm-block mob-hidden"></app-stepper>
    </div>
</div>

  
  
  
  
  